*.cer
*.csr
*.key
*.pem
node_modules
package-lock.json
!spec/fixtures/**/node_modules
spec/fixtures/basic/main-link.js
!spec/fixtures/prune-is-module/node_modules
!spec/fixtures/ignore-package-lock/*
spec/work
typedoc
.DS_Store
.nyc_output
npm-debug.log
dist/
src/targets.js
.eslintcache
