*.cer
*.csr
*.key
*.pem
node_modules
package-lock.json
!test/fixtures/**/node_modules
test/fixtures/basic/main-link.js
!test/fixtures/prune-is-module/node_modules
!test/fixtures/ignore-package-lock/*
test/work
typedoc
.DS_Store
.nyc_output
npm-debug.log
dist/
