version: 2.1

orbs:
  cfa: continuousauth/npm@2.1.0
  node: electronjs/node@2.1.0

jobs:
  test:
    environment:
      # prevent Wine popup dialogs about installing additional packages
      WINEDLLOVERRIDES: mscoree,mshtml=
      WINEDEBUG: -all
    executor: <<parameters.executor>>
    parameters:
      executor:
        description: The executor to use for the job.
        type: string
      node-version:
        description: Specify the Node.js version to install.
        type: string
    steps:
      - node/test:
          post-node-js-install-steps:
            - run: test/ci/before_install.sh
          test-steps:
            - run: yarn build
            - restore_cache:
                name: Restoring Electron cache
                paths:
                  - $HOME/.cache/electron
                keys:
                  - v1-electron-cache-{{ arch }}
            - run:
                name: Download Electron binaries
                command: |
                  node test/ci/_before_script.js
            - save_cache:
                name: Persisting Electron cache
                paths:
                  - $HOME/.cache/electron
                key: v1-electron-cache-{{ arch }}
            - run: yarn run lint
            - run: yarn run coverage
            - run: yarn run codecov
            - run: yarn run docs:build
          use-test-steps: true
          node-version: << parameters.node-version >>

workflows:
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - test:
          name: test-<< matrix.executor >>-<< matrix.node-version >>
          matrix:
            alias: test
            parameters:
              executor:
                - node/linux
                - node/macos
                - node/windows
              node-version:
                - 20.2.0
                - 18.14.0
                - 16.13.0
          filters:
            branches: { ignore: gh-pages }
      - cfa/release:
          requires:
            - test
          filters:
            branches:
              only:
                - main
          context: cfa-release
