name: electron-nightly Canary

on:
  schedule:
    - cron: "15 8 * * *"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # tag: v4.1.1
        with:
          repository: electron/electron-quick-start
          ref: refs/heads/main
          path: electron-quick-start
      - name: Setup Node.js
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # tag: v4.0.0
        with:
          node-version: lts/*
      - name: Replace electron with electron-nightly
        run: |
          cd electron-quick-start
          npm uninstall --save-dev electron
          npm install --save-dev electron-nightly@latest
        shell: bash
      - name: Install Electron Packager
        run: |
          cd electron-quick-start
          npm install --save-dev @electron/packager@electron/packager
        shell: bash
      - name: Package
        run: |
          cd electron-quick-start
          if [ "${{ matrix.os }}" == "macOS-latest" ]; then
            node_modules/.bin/electron-packager . --arch=universal
          else
            node_modules/.bin/electron-packager . --arch=all
          fi
        shell: bash
