name: electron-nightly Canary

on:
  schedule:
    - cron: "15 8 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag: v6.0.2
        with:
          repository: electron/minimal-repro
          ref: refs/heads/main
          path: minimal-repro
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # tag: v6.2.0
        with:
          # electron/minimal-repro doesn't have a .nvmrc file
          node-version: lts/*
          cache: 'npm'
          cache-dependency-path: minimal-repro/package-lock.json
      - name: Replace electron with electron-nightly
        run: |
          cd minimal-repro
          npm uninstall --save-dev electron
          npm install --save-dev electron-nightly@latest
        shell: bash
      - name: Install Electron Packager
        run: |
          cd minimal-repro
          npm install --save-dev @electron/packager@latest
        shell: bash
      - name: Package
        run: |
          cd minimal-repro
          if [ "${{ matrix.os }}" == "macOS-latest" ]; then
            node_modules/.bin/electron-packager . --arch=universal
          else
            node_modules/.bin/electron-packager . --arch=all
          fi
        shell: bash
