name: electron-nightly Canary

on:
  schedule:
    - cron: "15 8 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # tag: v6.0.0
        with:
          repository: electron/minimal-repro
          ref: refs/heads/main
          path: minimal-repro
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # tag: v6.1.0
        with:
          # electron/minimal-repro doesn't have a .nvmrc file
          node-version: lts/*
          cache: 'npm'
          cache-dependency-path: minimal-repro/package-lock.json
      - name: Replace electron with electron-nightly
        run: |
          cd minimal-repro
          npm uninstall --save-dev electron
          npm install --save-dev electron-nightly@latest
        shell: bash
      - name: Install Electron Packager
        run: |
          cd minimal-repro
          npm install --save-dev @electron/packager@latest
        shell: bash
      - name: Package
        run: |
          cd minimal-repro
          if [ "${{ matrix.os }}" == "macOS-latest" ]; then
            node_modules/.bin/electron-packager . --arch=universal
          else
            node_modules/.bin/electron-packager . --arch=all
          fi
        shell: bash
