name: Publish documentation

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247  # tag: v3.5.1
      - name: Fetch all git branches
        run: git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c  # tag: v3.6.0
        with:
          node-version: 14.x
      - run: npm install --engine-strict --no-lockfile
      - run: npm run docs:build
      - uses: docker://malept/gha-gh-pages:1.3.0
        with:
          defaultBranch: main
          docsPath: typedoc
          gitCommitEmail: 'electron-bot@users.noreply.github.com'
          gitCommitMessage: 'Publish [skip ci]'
          gitCommitUser: 'Electron Bot'
          showUnderscoreFiles: true
          versionDocs: true
        env:
          GH_PAGES_SSH_DEPLOY_KEY: ${{ secrets.DOCS_SSH_DEPLOY_KEY }}
