name: Publish documentation

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

permissions: {}

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744  # tag: v3.6.0
      - name: Fetch all git branches
        run: git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d  # tag: v3.8.1
        with:
          node-version: 14.x
      - run: npm install --engine-strict --no-lockfile
      - run: npm run docs:build
      - uses: dsanders11/github-action-gh-pages@6837fa66857ff3234e3ea5bcf709c86767ae3ce1
        with:
          defaultBranch: main
          docsPath: typedoc
          gitCommitEmail: 'github-actions@github.com'
          gitCommitMessage: 'Publish [skip ci]'
          gitCommitUser: 'github-actions'
          showUnderscoreFiles: true
          versionDocs: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
