name: Test

on:
  pull_request:
  schedule:
    - cron: '0 22 * * 3'
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        node-version:
          - '22.12.x'
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: '${{ matrix.os }}'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '${{ matrix.node-version }}'
          cache: 'yarn'
      - name: Setup CI Environment
        run: test/ci/before_install.sh
      - name: Install
        run: yarn install --immutable
      - name: Build
        run: yarn build
      - name: Electron Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/electron
          key: v1-electron-cache-${{ matrix.os }}
      - name: Download Electron binaries
        run: npx tsx test/ci/download-electron.ts
      - name: Lint
        run: yarn run lint
      - name: Test
        run: |
          yarn run test
      - name: Build Docs
        run: yarn run build:docs
